@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Before Neumont</h1>
    <p>I can't say that I was that much different of a person now compared to befor I came to Neumont but one choice I made was deciding to serve a religious mission before starting college.</p>
    <h2>Mission</h2>
    <div class="column">
        <img src="~/images/126805571_993578921161580_707261211095421177_n.jpg" width="320" height="660"/>
        <img src="~/images/172135336_1927418260757813_4611858131661587891_n.jpg" width="502" height="512"/>
    </div>
    <div class="column">
    <p>
        I am a member of the church of Jesus Christ of Laterday Saints. I always have been, and I plan to always be one.
         Before stating School I decided to serve a mission for my church.
         For those that don't know what that is it means that I sacrificed 2 years of my life to leave my home and family and serve as a representative of the chuch in a location chosen by the leaders of the choice.
         During this time I had the opportunity to help other people to learn of my chuch but more importantly to learn of Christ and all he did for ach and every one of us.
         I Had the wonderful opportunity to start and end my mission Merida Mexico and thanks to the pandemic which caused me to return early, I was reassigned to the North Dakota Bismark mission while I waited retun to Mexico.
         Serving a mission was by far one of the hardest things I ever did in my life but also one of the best. It was hard because I was away from my friends and family in a location and culture completely new to me.
         But it was also wounderful because I was able to help many people find joy and receive help in life. 
    </p>
    </div> 
</div>
