@{
    ViewData["Title"] = "Future";
}

<div class="text-center">
    <h1 class="display-4">Future</h1>
        <p>
        After I graduate from neumont there are 2 things that I really want in life. Firstly to I want start my own family and scondly I would like to start my own game developing company.
        </p>
        <h2>Family</h2>
	    <img src="~/images/family.jpg" />
        <p>
            I'm hoping that once I graduate I can get a decent paying job to afford and provide for a family. More than anything I love to have a medium sized family with me, my future wife, 3 girls and 2 boys.
            obviously I don't get full say in if that's how things will turn out but more than anything I would love to me a beautiful women and start a family with them.
            and, regardless of what happens I would be happy with what I have.

        </p>
        <h2>Company</h2>
	    <img src="~/images/gmae companies.jpg" />
        <p>
            Later in life when I have enough money and experience my cousin and I would like to start our own entertainment business. It would envolve video games, movies, comics, and more.
            The part that I would be in charge of would be the video game department. Video games have helped me a lot throughtout my life and I want to beable to create games that can help and provide entertainemnt for adults but more importantly the coming generation of people.
            Even if my company never gets to a point where it is a AAA studio that people all over the world love if I could make even one child happy and help them get through whatever difficulties they have then I would be happy.
        </p>
</div>