@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Ethan is a big Nerd and Gamer</p>
	<img src="~/images/dnd.jpg" width="800" height="500"/>
    <h2>Nerd</h2>
    <p>Amongst other things I am a huge dungeons and dragons enthusiest, I play every tuesday night with my cousin and some other friend.
        On top of this I consider myself a part of many diiferent fandoms. Included are, whovians, disnerds, Marvel and many others. 
        I also go to FanX (Utah equivelent to Comiccom (thanks a lot San Diego)) every year without fail. The only one I missed was the very first one because I didn' know about it until it was too late
    </p>
	<img src="~/images/gmaes.jpg" />
    <h2>
        Gamer
    </h2>
    <p>
        I take pride in the fact that I average 8-12 hours of video games a day. That includes most days when I'm at school for as much as 10 hours. 
        Don't worry I still get my assignments don't I just sacrifce a little bit of sleep. Getting more than 3-4 hours of sleep in a night is overrated anyway.
    </p>
</div>
