@{
    ViewData["Title"] = "Future";
}

<div class="text-center">
    <h1 class="display-4">Future</h1>
    <p>After I graduate from neumont there are a few things I would like to have happen. First</p>
</div>
